.dragable-card{
    margin: 2px;
    user-select: none;
    position: relative;
    float: left;
    background: rgb(238, 238, 238);
    padding: 0px;
}
.dragable-card .inner{
    height: 180px;
    overflow: hidden;
}

.dragable-card img{
    cursor: pointer;
    height: 180px;
    margin-left: 0px;
    margin-top: 0px;
}